
#banner {
  width: 70%;
}

.icon-color {
  fill: #1abc9c;
}

.primary-color {
  color: #1abc9c;
}

#item {
    background-color: #F7F9FB;
    box-shadow: none;
}

.view-color {
  color: #e74c3c;
}

.model-color {
  color: #F6D236;
}

.ctrl-color {
  color: #2AA5DF;
}

.button-color {
    background-color: #1abc9c;
    border: none;
}